*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #f6f0eb;
  font-family: 'Poppins',sans-serif;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration-line: none;
  color: inherit;
}
header {
  background-color: #fff;
  padding: 24px 32px;
}
.header-content{
  max-width: 1290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin: 0 auto;

}
nav{
  display: flex;
  
  /* gap: 60px; */
}

nav a{
  font-weight: 700;
  font-size: 20px;
  color: #492118;
}

nav a+a{
  margin-left: 60px;
}

.logo{
  width: 40px;
}

img{
  width: 100%;

}

main{
  padding: 0 24px;
}
.hero-section{
  margin-top: 100px;
}

.img-container{
max-width: 1290px;
margin: 0 auto;
}

.hero-section p{
  color: #492118;
  text-align: center;
  font-size: 24px;
}

.section {
  margin-top: 120px;

}

.section .img-container {
  max-width: 960px;
  margin: 0 auto;
}

.section h2{
  font-weight: 700px;
  font-size: 48px;
  color: #492118;
  text-align: center;
  margin-top: 80px;

}
.go-to-top{
  text-align: right;
  max-width: 960px;
  margin: 0 auto;
  font-size: 32px; 
}
.go-to-top a{
  text-decoration-line: underline;
}
.footer-text{
  text-align: center;
  color: #858585;
  font-size: 24px;
  margin-top: 32px;
}

@media(max-width:960px){
  nav a{
    font-size: 12px;
    
  }

  nav a+a{
    margin-left: 32px;
  }

  header{
    padding: 16px 24px;
  }
}

@media(max-width:768px){
  header{
    background-color: transparent;
  }
  nav a{
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    flex-direction: column ;
    right: 0;
  }

  nav a{
    margin: 0;
  }
}